<form class="emp-form" #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">
  <!-- <input type="hidden" name="RowNameId" #RowNameId="ngModel" [(ngModel)]="requestService.selectedRequest.RowNameId"> -->
  <div class="form-row">
    <div class="form-group col-md-6">
      <input class="form-control" name="TeacherID" #TeacherID="ngModel" [(ngModel)]="requestService.selectedRequest.TeacherID"
        placeholder="Teacher ID" required>
      <div class="validation-error" *ngIf="TeacherID.invalid && TeacherID.touched">This Field is Required.</div>
    </div>
    <div class="form-group col-md-6">
      <input class="form-control" name="Teacher" #Teacher="ngModel" [(ngModel)]="requestService.selectedRequest.Teacher" placeholder="Teacher"
        required>
      <div class="validation-error" *ngIf="Teacher.invalid && Teacher.touched">This Field is Required.</div>
    </div>
  </div>
  <div class="form-group">
    <input class="form-control" name="TeacherEmail" #TeacherEmail="ngModel" [(ngModel)]="requestService.selectedRequest.TeacherEmail" placeholder="TeacherEmail">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <input class="form-control" name="SchoolName" #SchoolName="ngModel" [(ngModel)]="requestService.selectedRequest.SchoolName" placeholder="School Name">
    </div>
    <div class="form-group col-md-6">
      <input class="form-control" name="SchoolNumber" #SchoolNumber="ngModel" [(ngModel)]="requestService.selectedRequest.SchoolNumber" placeholder="School Number">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-8">
      <button [disabled]="!employeeForm.valid" type="submit" class="btn btn-lg btn-block btn-info">
        <i class="fa fa-floppy-o"></i> Submit</button>
    </div>
    <div class="form-group col-md-4">
      <button type="button" class="btn btn-lg btn-block btn-secondary" (click)="resetForm(employeeForm)">
        <i class="fa fa-repeat"></i> Reset</button>
    </div>
  </div>
</form>

